#### Load the Project Data

In [0]:
## Preparing the Environment containing all the required Pyspark & Pandas dataframes, temporary tables

In [0]:
%run ./Chinook_Load_data_Load

initialising the spark session

Loading the dataframes

In [0]:
from pyspark.sql.functions import *
from pyspark.sql import Row
import pandas as pd
import datetime
# pd.set_options("display.max_rows", None)
pd.set_option("display.max_columns", None) # this option enables to show all the columns in a single frame

Loading the dataframes into the temp tables

below temp tables are available to use
Out[11]: ['album',
 'artist',
 'customers',
 'employees',
 'genre',
 'inline',
 'invoice',
 'medtype',
 'playlist',
 'playtrack',
 'track']

below dataframes are available to use
Out[12]: ['pspk_df_album',
 'pspk_df_artist',
 'pspk_df_cust',
 'pspk_df_emp',
 'pspk_df_genre',
 'pspk_df_invoice',
 'pspk_df_inline',
 'pspk_df_medtype',
 'pspk_df_playlist',
 'pspk_df_playtrack',
 'pspk_df_track']

available python dataframes to use
Variable            Type         Data/Info
------------------------------------------
pd_df_album         DataFrame         AlbumId             <...>n\n[347 rows x 3 columns]
pd_df_artist        DataFrame         ArtistId            <...>n\n[275 rows x 2 columns]
pd_df_cust          DataFrame        CustomerId  FirstName<...>@yahoo.in             3
pd_df_emp           DataFrame       EmployeeId  LastName F<...>  laura@chinookcorp.com
pd_df_genre         DataFrame        GenreId              <...>   25               Opera
pd_df_inline        DataFrame          InvoiceLineId  Invo<...>\n[2240 rows x 5 columns]
pd_df_invoice       DataFrame         InvoiceId  CustomerI<...>n\n[412 rows x 9 columns]
pd_df_medtype       DataFrame       MediaTypeId           <...>           AAC audio file
pd_df_playlist      DataFrame        PlaylistId           <...>              On-The-Go 1
pd_df_playtrack     DataFrame          PlaylistId  TrackId<...>\n[5000 rows x 2 columns]
pd_df_track         DataFrame          TrackId            <...>\n[3503 rows x 9 columns]
pspk_df_album       DataFrame    DataFrame[AlbumId: int, T<...>e: string, ArtistId: int]
pspk_df_artist      DataFrame    DataFrame[ArtistId: int, Name: string]
pspk_df_cust        DataFrame    DataFrame[CustomerId: int<...>tring, SupportRepId: int]
pspk_df_emp         DataFrame    DataFrame[EmployeeId: int<...>x: string, Email: string]
pspk_df_genre       DataFrame    DataFrame[GenreId: int, Name: string]
pspk_df_inline      DataFrame    DataFrame[InvoiceLineId: <...>e: double, Quantity: int]
pspk_df_invoice     DataFrame    DataFrame[InvoiceId: int,<...>e: string, Total: double]
pspk_df_medtype     DataFrame    DataFrame[MediaTypeId: int, Name: string]
pspk_df_playlist    DataFrame    DataFrame[PlaylistId: int, Name: string]
pspk_df_playtrack   DataFrame    DataFrame[PlaylistId: int, TrackId: int]
pspk_df_track       DataFrame    DataFrame[TrackId: int, N<...>tring, UnitPrice: string]

## Questions to solve

#### 1. Provide a query showing Customers (just their full names, customer ID and country) who are not in the US.

##### SQL

In [0]:
# we can use the customers table to query the customers fullName(firstName + lastName), CustomerId and Country which contains a simple SQL select, from, where statements

In [0]:
%sql
select firstname || " " || lastname custFullName, customerId, country
from customers
where country != 'USA'

custFullName,customerId,country
Luís Gonçalves,1,Brazil
Leonie Köhler,2,Germany
François Tremblay,3,Canada
Bjørn Hansen,4,Norway
František Wichterlová,5,Czech Republic
Helena Holý,6,Czech Republic
Astrid Gruber,7,Austria
Daan Peeters,8,Belgium
Kara Nielsen,9,Denmark
Eduardo Martins,10,Brazil
Alexandre Rocha,11,Brazil
Roberto Almeida,12,Brazil
Fernanda Ramos,13,Brazil
Mark Philips,14,Canada
Jennifer Peterson,15,Canada
Robert Brown,29,Canada
Edward Francis,30,Canada
Martha Silk,31,Canada
Aaron Mitchell,32,Canada
Ellie Sullivan,33,Canada
João Fernandes,34,Portugal
Madalena Sampaio,35,Portugal
Hannah Schneider,36,Germany
Fynn Zimmermann,37,Germany
Niklas Schröder,38,Germany
Camille Bernard,39,France
Dominique Lefebvre,40,France
Marc Dubois,41,France
Wyatt Girard,42,France
Isabelle Mercier,43,France
Terhi Hämäläinen,44,Finland
Ladislav Kovács,45,Hungary
Hugh O'Reilly,46,Ireland
Lucas Mancini,47,Italy
Johannes Van der Berg,48,Netherlands
Stanisław Wójcik,49,Poland
Enrique Muñoz,50,Spain
Joakim Johansson,51,Sweden
Emma Jones,52,United Kingdom
Phil Hughes,53,United Kingdom
Steve Murray,54,United Kingdom
Mark Taylor,55,Australia
Diego Gutiérrez,56,Argentina
Luis Rojas,57,Chile
Manoj Pareek,58,India
Puja Srivastava,59,India

In [0]:
## Aggregated Query to check if we are getting the same results or not

In [0]:
%sql
with tb1 as (
  select firstname || " " || lastname custFullName, customerId, country
  from customers
  where country != 'USA'
) select country, count(1) totalCounts from tb1 
group by country
order by totalCounts desc

country,totalCounts
Canada,8
France,5
Brazil,5
Germany,4
United Kingdom,3
India,2
Czech Republic,2
Portugal,2
Sweden,1
Argentina,1
Belgium,1
Finland,1
Chile,1
Italy,1
Norway,1
Spain,1
Denmark,1
Ireland,1
Poland,1
Australia,1
Austria,1
Hungary,1
Netherlands,1

##### Pyspark

In [0]:
## SQL equivalnet for select, where with Pyspark are filter, selectExpr, select

In [0]:
display(
    pspk_df_cust
    .filter("country != 'USA'")
    .selectExpr("concat(firstname,' ',lastname) as custFullName", "customerId", "country")
)

custFullName,customerId,country
Luís Gonçalves,1,Brazil
Leonie Köhler,2,Germany
François Tremblay,3,Canada
Bjørn Hansen,4,Norway
František Wichterlová,5,Czech Republic
Helena Holý,6,Czech Republic
Astrid Gruber,7,Austria
Daan Peeters,8,Belgium
Kara Nielsen,9,Denmark
Eduardo Martins,10,Brazil
Alexandre Rocha,11,Brazil
Roberto Almeida,12,Brazil
Fernanda Ramos,13,Brazil
Mark Philips,14,Canada
Jennifer Peterson,15,Canada
Robert Brown,29,Canada
Edward Francis,30,Canada
Martha Silk,31,Canada
Aaron Mitchell,32,Canada
Ellie Sullivan,33,Canada
João Fernandes,34,Portugal
Madalena Sampaio,35,Portugal
Hannah Schneider,36,Germany
Fynn Zimmermann,37,Germany
Niklas Schröder,38,Germany
Camille Bernard,39,France
Dominique Lefebvre,40,France
Marc Dubois,41,France
Wyatt Girard,42,France
Isabelle Mercier,43,France
Terhi Hämäläinen,44,Finland
Ladislav Kovács,45,Hungary
Hugh O'Reilly,46,Ireland
Lucas Mancini,47,Italy
Johannes Van der Berg,48,Netherlands
Stanisław Wójcik,49,Poland
Enrique Muñoz,50,Spain
Joakim Johansson,51,Sweden
Emma Jones,52,United Kingdom
Phil Hughes,53,United Kingdom
Steve Murray,54,United Kingdom
Mark Taylor,55,Australia
Diego Gutiérrez,56,Argentina
Luis Rojas,57,Chile
Manoj Pareek,58,India
Puja Srivastava,59,India

In [0]:
display(
    pspk_df_cust
    .filter("country != 'USA'")
    .selectExpr("concat(firstname,' ',lastname) as custFullName", "customerId", "country")
    .groupBy("country")
    .count()
    .orderBy(desc("count"))
)

country,count
Canada,8
France,5
Brazil,5
Germany,4
United Kingdom,3
India,2
Czech Republic,2
Portugal,2
Sweden,1
Argentina,1
Belgium,1
Finland,1
Chile,1
Italy,1
Norway,1
Spain,1
Denmark,1
Ireland,1
Poland,1
Australia,1
Austria,1
Hungary,1
Netherlands,1

##### Python

In [0]:
pd_df_cust_filt = pd_df_cust[pd_df_cust['Country'] != "USA"]
pd_df_cust_filt['custFullName'] = pd_df_cust_filt['FirstName'] +" " +pd_df_cust_filt['LastName']
pd_df_cust_filt_final = pd_df_cust_filt[["custFullName", "CustomerId", "Country"]].reset_index(drop=True)
pd_df_cust_filt_final

<command-4098600776233896>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pd_df_cust_filt['custFullName'] = pd_df_cust_filt['FirstName'] +" " +pd_df_cust_filt['LastName']

,custFullName,CustomerId,Country
0,Luís Gonçalves,1,Brazil
1,Leonie Köhler,2,Germany
2,François Tremblay,3,Canada
3,Bjørn Hansen,4,Norway
4,František Wichterlová,5,Czech Republic
5,Helena Holý,6,Czech Republic
6,Astrid Gruber,7,Austria
7,Daan Peeters,8,Belgium
8,Kara Nielsen,9,Denmark
9,Eduardo Martins,10,Brazil
10,Alexandre Rocha,11,Brazil
11,Roberto Almeida,12,Brazil
12,Fernanda Ramos,13,Brazil
13,Mark Philips,14,Canada
14,Jennifer Peterson,15,Canada
15,Robert Brown,29,Canada
16,Edward Francis,30,Canada
17,Martha Silk,31,Canada
18,Aaron Mitchell,32,Canada
19,Ellie Sullivan,33,Canada
20,João Fernandes,34,Portugal
21,Madalena Sampaio,35,Portugal
22,Hannah Schneider,36,Germany
23,Fynn Zimmermann,37,Germany
24,Niklas Schröder,38,Germany
25,Camille Bernard,39,France
26,Dominique Lefebvre,40,France
27,Marc Dubois,41,France
28,Wyatt Girard,42,France
29,Isabelle Mercier,43,France
30,Terhi Hämäläinen,44,Finland
31,Ladislav Kovács,45,Hungary
32,Hugh O'Reilly,46,Ireland
33,Lucas Mancini,47,Italy
34,Johannes Van der Berg,48,Netherlands
35,Stanisław Wójcik,49,Poland
36,Enrique Muñoz,50,Spain
37,Joakim Johansson,51,Sweden
38,Emma Jones,52,United Kingdom
39,Phil Hughes,53,United Kingdom
40,Steve Murray,54,United Kingdom
41,Mark Taylor,55,Australia
42,Diego Gutiérrez,56,Argentina
43,Luis Rojas,57,Chile
44,Manoj Pareek,58,India
45,Puja Srivastava,59,India

In [0]:
# pd_df_cust_filt_final.groupby("Country")['Country'].count().to_frame()
(
    pd_df_cust_filt_final
    .groupby("Country")
    .agg(counts=("Country", "count"))
    .sort_values(by=['counts'], ascending=False)
    .reset_index()
)

,Country,counts
0,Canada,8
1,Brazil,5
2,France,5
3,Germany,4
4,United Kingdom,3
5,Czech Republic,2
6,Portugal,2
7,India,2
8,Belgium,1
9,Italy,1
10,Sweden,1
11,Spain,1
12,Poland,1
13,Norway,1
14,Netherlands,1
15,Ireland,1
16,Chile,1
17,Hungary,1
18,Australia,1
19,Austria,1
20,Finland,1
21,Denmark,1
22,Argentina,1

In [0]:
# using .query to get the same results as above for pandas dataframe

In [0]:
(
    pd_df_cust_filt
    .query("Country != 'USA'")
    .assign(custFullName = pd_df_cust_filt["FirstName"] +" " +pd_df_cust_filt["LastName"])
    [["custFullName", "CustomerId", "Country"]]
)

,custFullName,CustomerId,Country
0,Luís Gonçalves,1,Brazil
1,Leonie Köhler,2,Germany
2,François Tremblay,3,Canada
3,Bjørn Hansen,4,Norway
4,František Wichterlová,5,Czech Republic
5,Helena Holý,6,Czech Republic
6,Astrid Gruber,7,Austria
7,Daan Peeters,8,Belgium
8,Kara Nielsen,9,Denmark
9,Eduardo Martins,10,Brazil
10,Alexandre Rocha,11,Brazil
11,Roberto Almeida,12,Brazil
12,Fernanda Ramos,13,Brazil
13,Mark Philips,14,Canada
14,Jennifer Peterson,15,Canada
28,Robert Brown,29,Canada
29,Edward Francis,30,Canada
30,Martha Silk,31,Canada
31,Aaron Mitchell,32,Canada
32,Ellie Sullivan,33,Canada
33,João Fernandes,34,Portugal
34,Madalena Sampaio,35,Portugal
35,Hannah Schneider,36,Germany
36,Fynn Zimmermann,37,Germany
37,Niklas Schröder,38,Germany
38,Camille Bernard,39,France
39,Dominique Lefebvre,40,France
40,Marc Dubois,41,France
41,Wyatt Girard,42,France
42,Isabelle Mercier,43,France
43,Terhi Hämäläinen,44,Finland
44,Ladislav Kovács,45,Hungary
45,Hugh O'Reilly,46,Ireland
46,Lucas Mancini,47,Italy
47,Johannes Van der Berg,48,Netherlands
48,Stanisław Wójcik,49,Poland
49,Enrique Muñoz,50,Spain
50,Joakim Johansson,51,Sweden
51,Emma Jones,52,United Kingdom
52,Phil Hughes,53,United Kingdom
53,Steve Murray,54,United Kingdom
54,Mark Taylor,55,Australia
55,Diego Gutiérrez,56,Argentina
56,Luis Rojas,57,Chile
57,Manoj Pareek,58,India
58,Puja Srivastava,59,India

##### RDDs

In [0]:
## Creating a RDDs.

In [0]:
pspk_rdd_cust = pspk_df_cust.rdd

In [0]:
## To get the same results as SQL while using RDD and as RDD allows to work on each row,first we need to filter out the rows and later to concat firstName & lastName we can use map function.

In [0]:
(
    pspk_rdd_cust
    .filter(lambda x: x['Country'] != 'USA')
    .map(lambda row: (row['FirstName']+" "+row["LastName"], row['CustomerId'], row['Country']))
    # .take(2)
    .collect()
)

Out[31]: [('Luís Gonçalves', 1, 'Brazil'),
 ('Leonie Köhler', 2, 'Germany'),
 ('François Tremblay', 3, 'Canada'),
 ('Bjørn Hansen', 4, 'Norway'),
 ('František Wichterlová', 5, 'Czech Republic'),
 ('Helena Holý', 6, 'Czech Republic'),
 ('Astrid Gruber', 7, 'Austria'),
 ('Daan Peeters', 8, 'Belgium'),
 ('Kara Nielsen', 9, 'Denmark'),
 ('Eduardo Martins', 10, 'Brazil'),
 ('Alexandre Rocha', 11, 'Brazil'),
 ('Roberto Almeida', 12, 'Brazil'),
 ('Fernanda Ramos', 13, 'Brazil'),
 ('Mark Philips', 14, 'Canada'),
 ('Jennifer Peterson', 15, 'Canada'),
 ('Robert Brown', 29, 'Canada'),
 ('Edward Francis', 30, 'Canada'),
 ('Martha Silk', 31, 'Canada'),
 ('Aaron Mitchell', 32, 'Canada'),
 ('Ellie Sullivan', 33, 'Canada'),
 ('João Fernandes', 34, 'Portugal'),
 ('Madalena Sampaio', 35, 'Portugal'),
 ('Hannah Schneider', 36, 'Germany'),
 ('Fynn Zimmermann', 37, 'Germany'),
 ('Niklas Schröder', 38, 'Germany'),
 ('Camille Bernard', 39, 'France'),
 ('Dominique Lefebvre', 40, 'France'),
 ('Marc Dubois', 41, 'France'),
 ('Wyatt Girard', 42, 'France'),
 ('Isabelle Mercier', 43, 'France'),
 ('Terhi Hämäläinen', 44, 'Finland'),
 ('Ladislav Kovács', 45, 'Hungary'),
 ("Hugh O'Reilly", 46, 'Ireland'),
 ('Lucas Mancini', 47, 'Italy'),
 ('Johannes Van der Berg', 48, 'Netherlands'),
 ('Stanisław Wójcik', 49, 'Poland'),
 ('Enrique Muñoz', 50, 'Spain'),
 ('Joakim Johansson', 51, 'Sweden'),
 ('Emma Jones', 52, 'United Kingdom'),
 ('Phil Hughes', 53, 'United Kingdom'),
 ('Steve Murray', 54, 'United Kingdom'),
 ('Mark Taylor', 55, 'Australia'),
 ('Diego Gutiérrez', 56, 'Argentina'),
 ('Luis Rojas', 57, 'Chile'),
 ('Manoj Pareek', 58, 'India'),
 ('Puja Srivastava', 59, 'India')]

In [0]:
## to validate the results we can use RDDs key-value pairs to check if the values againist each country(counts) are matching or not

In [0]:
display(
    pspk_rdd_cust
    .filter(lambda x: x['Country'] != 'USA')
    .map(lambda row: (row['FirstName']+" "+row["LastName"], row['CustomerId'], row['Country']))
    .map(lambda row: (row[2], 1))
    .reduceByKey(lambda x,y: x+y)
    .sortBy(lambda x: x[1], ascending=False)
    .collect()
    # .toDF()
)

_1,_2
Canada,8
Brazil,5
France,5
Germany,4
United Kingdom,3
Czech Republic,2
Portugal,2
India,2
Norway,1
Austria,1
Belgium,1
Denmark,1
Finland,1
Hungary,1
Ireland,1
Italy,1
Netherlands,1
Poland,1
Spain,1
Sweden,1
Australia,1
Argentina,1
Chile,1

#### 2. Provide a query showing the Invoices of customers who are from Brazil. The resultant table should show the customer's full name, Invoice ID, Date of the invoice and billing country.

In [0]:
## In above query we need to join multiple tables to get the required output, and in SQL we can join 2 tables and apply required filters to get the expected output.

##### SQL

In [0]:
%sql

select customers.FirstName || " " || customers.LastName custFullName, invoice.InvoiceId, invoice.InvoiceDate, invoice.BillingCountry
from customers 
  inner join invoice on (customers.CustomerId = invoice.CustomerId)
  where invoice.BillingCountry = "Brazil"

custFullName,InvoiceId,InvoiceDate,BillingCountry
Eduardo Martins,25,2009-04-09T00:00:00.000+0000,Brazil
Roberto Almeida,34,2009-05-23T00:00:00.000+0000,Brazil
Fernanda Ramos,35,2009-06-05T00:00:00.000+0000,Brazil
Alexandre Rocha,57,2009-09-06T00:00:00.000+0000,Brazil
Fernanda Ramos,58,2009-09-07T00:00:00.000+0000,Brazil
Alexandre Rocha,68,2009-10-17T00:00:00.000+0000,Brazil
Fernanda Ramos,80,2009-12-10T00:00:00.000+0000,Brazil
Luís Gonçalves,98,2010-03-11T00:00:00.000+0000,Brazil
Luís Gonçalves,121,2010-06-13T00:00:00.000+0000,Brazil
Alexandre Rocha,123,2010-06-17T00:00:00.000+0000,Brazil
Fernanda Ramos,132,2010-07-31T00:00:00.000+0000,Brazil
Luís Gonçalves,143,2010-09-15T00:00:00.000+0000,Brazil
Eduardo Martins,154,2010-11-14T00:00:00.000+0000,Brazil
Roberto Almeida,155,2010-11-14T00:00:00.000+0000,Brazil
Roberto Almeida,166,2010-12-25T00:00:00.000+0000,Brazil
Eduardo Martins,177,2011-02-16T00:00:00.000+0000,Brazil
Luís Gonçalves,195,2011-05-06T00:00:00.000+0000,Brazil
Eduardo Martins,199,2011-05-21T00:00:00.000+0000,Brazil
Roberto Almeida,221,2011-08-25T00:00:00.000+0000,Brazil
Eduardo Martins,251,2012-01-09T00:00:00.000+0000,Brazil
Alexandre Rocha,252,2012-01-22T00:00:00.000+0000,Brazil
Fernanda Ramos,253,2012-01-22T00:00:00.000+0000,Brazil
Fernanda Ramos,264,2012-03-03T00:00:00.000+0000,Brazil
Alexandre Rocha,275,2012-04-25T00:00:00.000+0000,Brazil
Alexandre Rocha,297,2012-07-28T00:00:00.000+0000,Brazil
Luís Gonçalves,316,2012-10-27T00:00:00.000+0000,Brazil
Fernanda Ramos,319,2012-11-01T00:00:00.000+0000,Brazil
Luís Gonçalves,327,2012-12-07T00:00:00.000+0000,Brazil
Alexandre Rocha,349,2013-03-18T00:00:00.000+0000,Brazil
Roberto Almeida,350,2013-03-31T00:00:00.000+0000,Brazil
Eduardo Martins,372,2013-07-02T00:00:00.000+0000,Brazil
Roberto Almeida,373,2013-07-03T00:00:00.000+0000,Brazil
Luís Gonçalves,382,2013-08-07T00:00:00.000+0000,Brazil
Eduardo Martins,383,2013-08-12T00:00:00.000+0000,Brazil
Roberto Almeida,395,2013-10-05T00:00:00.000+0000,Brazil

In [0]:
%sql

select invoice.BillingCountry, count(invoice.BillingCountry) totalCounts
from customers 
  inner join invoice on (customers.CustomerId = invoice.CustomerId)
  where invoice.BillingCountry = "Brazil"
group by invoice.BillingCountry

BillingCountry,totalCounts
Brazil,35

##### Pyspark

In [0]:
## InPyspark the logic is almost similar we can use alias to the dataframes and then join it with other dataframes as show below and we can use sequence of chained statements to get the results

In [0]:
display(
    pspk_df_cust.alias("cust")
    .join(pspk_df_invoice.alias("inv"), on=['CustomerId'], how='inner')
    .filter("inv.BillingCountry = 'Brazil'")
    .selectExpr("cust.FirstName||' '||cust.LastName custFullName", "inv.invoiceId", "inv.invoiceDate", "inv.BillingCountry")
)

custFullName,invoiceId,invoiceDate,BillingCountry
Eduardo Martins,25,2009-04-09T00:00:00.000+0000,Brazil
Roberto Almeida,34,2009-05-23T00:00:00.000+0000,Brazil
Fernanda Ramos,35,2009-06-05T00:00:00.000+0000,Brazil
Alexandre Rocha,57,2009-09-06T00:00:00.000+0000,Brazil
Fernanda Ramos,58,2009-09-07T00:00:00.000+0000,Brazil
Alexandre Rocha,68,2009-10-17T00:00:00.000+0000,Brazil
Fernanda Ramos,80,2009-12-10T00:00:00.000+0000,Brazil
Luís Gonçalves,98,2010-03-11T00:00:00.000+0000,Brazil
Luís Gonçalves,121,2010-06-13T00:00:00.000+0000,Brazil
Alexandre Rocha,123,2010-06-17T00:00:00.000+0000,Brazil
Fernanda Ramos,132,2010-07-31T00:00:00.000+0000,Brazil
Luís Gonçalves,143,2010-09-15T00:00:00.000+0000,Brazil
Eduardo Martins,154,2010-11-14T00:00:00.000+0000,Brazil
Roberto Almeida,155,2010-11-14T00:00:00.000+0000,Brazil
Roberto Almeida,166,2010-12-25T00:00:00.000+0000,Brazil
Eduardo Martins,177,2011-02-16T00:00:00.000+0000,Brazil
Luís Gonçalves,195,2011-05-06T00:00:00.000+0000,Brazil
Eduardo Martins,199,2011-05-21T00:00:00.000+0000,Brazil
Roberto Almeida,221,2011-08-25T00:00:00.000+0000,Brazil
Eduardo Martins,251,2012-01-09T00:00:00.000+0000,Brazil
Alexandre Rocha,252,2012-01-22T00:00:00.000+0000,Brazil
Fernanda Ramos,253,2012-01-22T00:00:00.000+0000,Brazil
Fernanda Ramos,264,2012-03-03T00:00:00.000+0000,Brazil
Alexandre Rocha,275,2012-04-25T00:00:00.000+0000,Brazil
Alexandre Rocha,297,2012-07-28T00:00:00.000+0000,Brazil
Luís Gonçalves,316,2012-10-27T00:00:00.000+0000,Brazil
Fernanda Ramos,319,2012-11-01T00:00:00.000+0000,Brazil
Luís Gonçalves,327,2012-12-07T00:00:00.000+0000,Brazil
Alexandre Rocha,349,2013-03-18T00:00:00.000+0000,Brazil
Roberto Almeida,350,2013-03-31T00:00:00.000+0000,Brazil
Eduardo Martins,372,2013-07-02T00:00:00.000+0000,Brazil
Roberto Almeida,373,2013-07-03T00:00:00.000+0000,Brazil
Luís Gonçalves,382,2013-08-07T00:00:00.000+0000,Brazil
Eduardo Martins,383,2013-08-12T00:00:00.000+0000,Brazil
Roberto Almeida,395,2013-10-05T00:00:00.000+0000,Brazil

In [0]:
display(
    pspk_df_cust.alias("cust")
    .join(pspk_df_invoice.alias("inv"), on=['CustomerId'], how='inner')
    .filter("inv.BillingCountry = 'Brazil'")
    # .selectExpr("cust.FirstName||' '||cust.LastName custFullName", "inv.invoiceId", "inv.invoiceDate", "inv.BillingCountry")
    .groupBy("inv.BillingCountry")
    .count()
)

BillingCountry,count
Brazil,35

##### Python

In [0]:
## to add a new column we can use assign where a new column is added to the existing dataframe without disturbing the structure
## and the equivalent of join for python is merge

In [0]:
(
    pd_df_cust
    .query("Country == 'Brazil'")
    .merge(pd_df_invoice, on='CustomerId', how='inner')
    .assign(custFullName = pd_df_cust['FirstName']+" "+pd_df_cust['LastName'])
    [['custFullName', 'InvoiceId', 'InvoiceDate', 'BillingCountry']]
)

,custFullName,InvoiceId,InvoiceDate,BillingCountry
0,Luís Gonçalves,98,2010-03-11,Brazil
1,Leonie Köhler,121,2010-06-13,Brazil
2,François Tremblay,143,2010-09-15,Brazil
3,Bjørn Hansen,195,2011-05-06,Brazil
4,František Wichterlová,316,2012-10-27,Brazil
5,Helena Holý,327,2012-12-07,Brazil
6,Astrid Gruber,382,2013-08-07,Brazil
7,Daan Peeters,25,2009-04-09,Brazil
8,Kara Nielsen,154,2010-11-14,Brazil
9,Eduardo Martins,177,2011-02-16,Brazil
10,Alexandre Rocha,199,2011-05-21,Brazil
11,Roberto Almeida,251,2012-01-09,Brazil
12,Fernanda Ramos,372,2013-07-02,Brazil
13,Mark Philips,383,2013-08-12,Brazil
14,Jennifer Peterson,57,2009-09-06,Brazil
15,Frank Harris,68,2009-10-17,Brazil
16,Jack Smith,123,2010-06-17,Brazil
17,Michelle Brooks,252,2012-01-22,Brazil
18,Tim Goyer,275,2012-04-25,Brazil
19,Dan Miller,297,2012-07-28,Brazil
20,Kathy Chase,349,2013-03-18,Brazil
21,Heather Leacock,34,2009-05-23,Brazil
22,John Gordon,155,2010-11-14,Brazil
23,Frank Ralston,166,2010-12-25,Brazil
24,Victor Stevens,221,2011-08-25,Brazil
25,Richard Cunningham,350,2013-03-31,Brazil
26,Patrick Gray,373,2013-07-03,Brazil
27,Julia Barnett,395,2013-10-05,Brazil
28,Robert Brown,35,2009-06-05,Brazil
29,Edward Francis,58,2009-09-07,Brazil
30,Martha Silk,80,2009-12-10,Brazil
31,Aaron Mitchell,132,2010-07-31,Brazil
32,Ellie Sullivan,253,2012-01-22,Brazil
33,João Fernandes,264,2012-03-03,Brazil
34,Madalena Sampaio,319,2012-11-01,Brazil

In [0]:
(
    pd_df_cust
    .query("Country == 'Brazil'")
    .merge(pd_df_invoice, on='CustomerId', how='inner')
    .assign(custFullName = pd_df_cust['FirstName']+" "+pd_df_cust['LastName'])
    [['custFullName', 'InvoiceId', 'InvoiceDate', 'BillingCountry']]
    .groupby("BillingCountry")
    .agg(counts = ("BillingCountry", "count") ) # new column name is "counts" and the function to add for the column BillingCountry is count as show above which is similar to Pyspars groupBy and count
    .reset_index()
)

,BillingCountry,counts
0,Brazil,35

##### RDDs

In [0]:
## while for RDDs there from my obsrevation there is no direction way to get the required results. and for Joining Multiple RDDs,the RDD has to be in Key-Value pairs where the keys can be the joining column.

In [0]:
pspk_rdd_cust = pspk_df_cust.rdd
pspk_rdd_inv = pspk_df_invoice.rdd

In [0]:
## creating 2 RDD with similar keys for joining
pspk_rdd_cust_v1 = (
    pspk_rdd_cust
    .filter(lambda x: x['Country'] == 'Brazil')
    .map(lambda row: (row['CustomerId'], row['FirstName']+" " +row['LastName'])  )
)

pspk_rdd_inv_v1 = (
    pspk_rdd_inv
    .map(lambda row: (row['CustomerId'], [row['InvoiceId'], row['InvoiceDate'], row['BillingCountry'] ] ) )
    # .take(1)
)

In [0]:
(
    pspk_rdd_cust_v1
    .take(2)
)

Out[53]: [(1, 'Luís Gonçalves'), (10, 'Eduardo Martins')]

In [0]:
(
    pspk_rdd_inv_v1
    .filter(lambda x: x[0] == 10)
    .take(2)
)

Out[55]: [(10, [25, datetime.datetime(2009, 4, 9, 0, 0), 'Brazil']),
 (10, [154, datetime.datetime(2010, 11, 14, 0, 0), 'Brazil'])]

In [0]:
(
    pspk_rdd_cust_v1
    .join(pspk_rdd_inv_v1)
    # .flatMap(lambda x: x) # on using this function then the resultant key-value pairs are furthur reduced. initially the output has35 key-value pairs and on using flatMap the values are increased to 70
    .collect()
)

Out[70]: [(10,
  ('Eduardo Martins', [25, datetime.datetime(2009, 4, 9, 0, 0), 'Brazil'])),
 (10,
  ('Eduardo Martins', [154, datetime.datetime(2010, 11, 14, 0, 0), 'Brazil'])),
 (10,
  ('Eduardo Martins', [177, datetime.datetime(2011, 2, 16, 0, 0), 'Brazil'])),
 (10,
  ('Eduardo Martins', [199, datetime.datetime(2011, 5, 21, 0, 0), 'Brazil'])),
 (10,
  ('Eduardo Martins', [251, datetime.datetime(2012, 1, 9, 0, 0), 'Brazil'])),
 (10,
  ('Eduardo Martins', [372, datetime.datetime(2013, 7, 2, 0, 0), 'Brazil'])),
 (10,
  ('Eduardo Martins', [383, datetime.datetime(2013, 8, 12, 0, 0), 'Brazil'])),
 (12,
  ('Roberto Almeida', [34, datetime.datetime(2009, 5, 23, 0, 0), 'Brazil'])),
 (12,
  ('Roberto Almeida', [155, datetime.datetime(2010, 11, 14, 0, 0), 'Brazil'])),
 (12,
  ('Roberto Almeida', [166, datetime.datetime(2010, 12, 25, 0, 0), 'Brazil'])),
 (12,
  ('Roberto Almeida', [221, datetime.datetime(2011, 8, 25, 0, 0), 'Brazil'])),
 (12,
  ('Roberto Almeida', [350, datetime.datetime(2013, 3, 31, 0, 0), 'Brazil'])),
 (12,
  ('Roberto Almeida', [373, datetime.datetime(2013, 7, 3, 0, 0), 'Brazil'])),
 (12,
  ('Roberto Almeida', [395, datetime.datetime(2013, 10, 5, 0, 0), 'Brazil'])),
 (1, ('Luís Gonçalves', [98, datetime.datetime(2010, 3, 11, 0, 0), 'Brazil'])),
 (1,
  ('Luís Gonçalves', [121, datetime.datetime(2010, 6, 13, 0, 0), 'Brazil'])),
 (1,
  ('Luís Gonçalves', [143, datetime.datetime(2010, 9, 15, 0, 0), 'Brazil'])),
 (1, ('Luís Gonçalves', [195, datetime.datetime(2011, 5, 6, 0, 0), 'Brazil'])),
 (1,
  ('Luís Gonçalves', [316, datetime.datetime(2012, 10, 27, 0, 0), 'Brazil'])),
 (1,
  ('Luís Gonçalves', [327, datetime.datetime(2012, 12, 7, 0, 0), 'Brazil'])),
 (1, ('Luís Gonçalves', [382, datetime.datetime(2013, 8, 7, 0, 0), 'Brazil'])),
 (11,
  ('Alexandre Rocha', [57, datetime.datetime(2009, 9, 6, 0, 0), 'Brazil'])),
 (11,
  ('Alexandre Rocha', [68, datetime.datetime(2009, 10, 17, 0, 0), 'Brazil'])),
 (11,
  ('Alexandre Rocha', [123, datetime.datetime(2010, 6, 17, 0, 0), 'Brazil'])),
 (11,
  ('Alexandre Rocha', [252, datetime.datetime(2012, 1, 22, 0, 0), 'Brazil'])),
 (11,
  ('Alexandre Rocha', [275, datetime.datetime(2012, 4, 25, 0, 0), 'Brazil'])),
 (11,
  ('Alexandre Rocha', [297, datetime.datetime(2012, 7, 28, 0, 0), 'Brazil'])),
 (11,
  ('Alexandre Rocha', [349, datetime.datetime(2013, 3, 18, 0, 0), 'Brazil'])),
 (13, ('Fernanda Ramos', [35, datetime.datetime(2009, 6, 5, 0, 0), 'Brazil'])),
 (13, ('Fernanda Ramos', [58, datetime.datetime(2009, 9, 7, 0, 0), 'Brazil'])),
 (13,
  ('Fernanda Ramos', [80, datetime.datetime(2009, 12, 10, 0, 0), 'Brazil'])),
 (13,
  ('Fernanda Ramos', [132, datetime.datetime(2010, 7, 31, 0, 0), 'Brazil'])),
 (13,
  ('Fernanda Ramos', [253, datetime.datetime(2012, 1, 22, 0, 0), 'Brazil'])),
 (13,
  ('Fernanda Ramos', [264, datetime.datetime(2012, 3, 3, 0, 0), 'Brazil'])),
 (13,
  ('Fernanda Ramos', [319, datetime.datetime(2012, 11, 1, 0, 0), 'Brazil']))]

In [0]:
(
    pspk_rdd_cust_v1
    .join(pspk_rdd_inv_v1)
    .map(lambda x: (x[1][1][2], 1))
    .reduceByKey(lambda x,y: x+y)
    .collect()
)

Out[79]: [('Brazil', 35)]

#### 3. Provide a query that shows the invoices associated with each sales agent. The resultant table should include the Sales Agent's full name.

##### SQL

In [0]:
## for this query we need to join 3 tables
# employees -- to get sales agent names
# customers -- invoice are used to get the relationship between them

In [0]:
%sql

select employees.FirstName || " " || employees.LastName salesAgentName,
  invoice.InvoiceId
from employees
  inner join customers on employees.EmployeeId = customers.SupportRepId
  inner join invoice on customers.CustomerId = invoice.CustomerId

salesAgentName,InvoiceId
Jane Peacock,382
Jane Peacock,327
Jane Peacock,316
Jane Peacock,195
Jane Peacock,143
Jane Peacock,121
Jane Peacock,98
Steve Johnson,293
Steve Johnson,241
Steve Johnson,219
Steve Johnson,196
Steve Johnson,67
Steve Johnson,12
Steve Johnson,1
Jane Peacock,391
Jane Peacock,339
Jane Peacock,317
Jane Peacock,294
Jane Peacock,165
Jane Peacock,110
Jane Peacock,99
Margaret Park,392
Margaret Park,263
Margaret Park,208
Margaret Park,197
Margaret Park,76
Margaret Park,24
Margaret Park,2
Margaret Park,361
Margaret Park,306
Margaret Park,295
Margaret Park,174
Margaret Park,122
Margaret Park,100
Margaret Park,77
Steve Johnson,404
Steve Johnson,393
Steve Johnson,272
Steve Johnson,220
Steve Johnson,198
Steve Johnson,175
Steve Johnson,46
Steve Johnson,370
Steve Johnson,318
Steve Johnson,296
Steve Johnson,273
Steve Johnson,144
Steve Johnson,89
Steve Johnson,78
Margaret Park,394
Margaret Park,371
Margaret Park,242
Margaret Park,187
Margaret Park,176
Margaret Park,55
Margaret Park,3
Margaret Park,340
Margaret Park,285
Margaret Park,274
Margaret Park,153
Margaret Park,101
Margaret Park,79
Margaret Park,56
Margaret Park,383
Margaret Park,372
Margaret Park,251
Margaret Park,199
Margaret Park,177
Margaret Park,154
Margaret Park,25
Steve Johnson,349
Steve Johnson,297
Steve Johnson,275
Steve Johnson,252
Steve Johnson,123
Steve Johnson,68
Steve Johnson,57
Jane Peacock,395
Jane Peacock,373
Jane Peacock,350
Jane Peacock,221
Jane Peacock,166
Jane Peacock,155
Jane Peacock,34
Margaret Park,319
Margaret Park,264
Margaret Park,253
Margaret Park,132
Margaret Park,80
Margaret Park,58
Margaret Park,35
Steve Johnson,362
Steve Johnson,351
Steve Johnson,230
Steve Johnson,178
Steve Johnson,156
Steve Johnson,133
Steve Johnson,4
Jane Peacock,328
Jane Peacock,276
Jane Peacock,254
Jane Peacock,231
Jane Peacock,102
Jane Peacock,47
Jane Peacock,36
Margaret Park,374
Margaret Park,352
Margaret Park,329
Margaret Park,200
Margaret Park,145
Margaret Park,134
Margaret Park,13
Steve Johnson,298
Steve Johnson,243
Steve Johnson,232
Steve Johnson,111
Steve Johnson,59
Steve Johnson,37
Steve Johnson,14
Jane Peacock,396
Jane Peacock,341
Jane Peacock,330
Jane Peacock,209
Jane Peacock,157
Jane Peacock,135
Jane Peacock,112
Jane Peacock,307
Jane Peacock,255
Jane Peacock,233
Jane Peacock,210
Jane Peacock,81
Jane Peacock,26
Jane Peacock,15
Margaret Park,405
Margaret Park,353
Margaret Park,331
Margaret Park,308
Margaret Park,179
Margaret Park,124
Margaret Park,113
Steve Johnson,406
Steve Johnson,277
Steve Johnson,222
Steve Johnson,211
Steve Johnson,90
Steve Johnson,38
Steve Johnson,16
Margaret Park,375
Margaret Park,320
Margaret Park,309
Margaret Park,188
Margaret Park,136
Margaret Park,114
Margaret Park,91
Margaret Park,407
Margaret Park,286
Margaret Park,234
Margaret Park,212
Margaret Park,189
Margaret Park,60
Margaret Park,5
Jane Peacock,384
Jane Peacock,332
Jane Peacock,310
Jane Peacock,287
Jane Peacock,158
Jane Peacock,103
Jane Peacock,92
Steve Johnson,408
Steve Johnson,385
Steve Johnson,256
Steve Johnson,201
Steve Johnson,190
Steve Johnson,69
Steve Johnson,17
Margaret Park,354
Margaret Park,299
Margaret Park,288
Margaret Park,167
Margaret Park,115
Margaret Park,93
Margaret Park,70
Margaret Park,397
Margaret Park,386
Margaret Park,265
Margaret Park,213
Margaret Park,191
Margaret Park,168
Margaret Park,39
Steve Johnson,363
Steve Johnson,311
Steve Johnson,289
Steve Johnson,266
Steve Johnson,137
Steve Johnson,82
Steve Johnson,71
Jane Peacock,409
Jane Peacock,387
Jane Peacock,364
Jane Peacock,235
Jane Peacock,180
Jane Peacock,169
Jane Peacock,48
Jane Peacock,333
Jane Peacock,278
Jane Peacock,267
Jane Peacock,146
Jane Peacock,94
Jane Peacock,72
Jane Peacock,49
Steve Johnson,376
Steve Johnson,365
Steve Johnson,244
Steve Johnson,192
Steve Johnson,170
Steve Johnson,147
Steve Johnson,18
Margaret Park,342
Margaret Park,290
Margaret Park,268
Margaret Park,245
Margaret Park,116
Margaret Park,61
Margaret Park,50
Jane Peacock,388
Jane Peacock,366
Jane Peacock,343
Jane Peacock,214
Jane Peacock,159
Jane Peacock,148
Jane Peacock,27
Margaret Park,312
Margaret Park,257
Margaret Park,246
Margaret Park,125
Margaret Park,73
Margaret Park,51
Margaret Park,28
Margaret Park,410
Margaret Park,355
Margaret Park,344
Margaret Park,223
Margaret Park,171
Margaret Park,149
Margaret Park,126
Steve Johnson,321
Steve Johnson,269
Steve Johnson,247
Steve Johnson,224
Steve Johnson,95
Steve Johnson,40
Steve Johnson,29
Jane Peacock,367
Jane Peacock,345
Jane Peacock,322
Jane Peacock,193
Jane Peacock,138
Jane Peacock,127
Jane Peacock,6
Jane Peacock,291
Jane Peacock,236
Jane Peacock,225
Jane Peacock,104
Jane Peacock,52
Jane Peacock,30
Jane Peacock,7
Margaret Park,389
Margaret Park,334
Margaret Park,323
Margaret Park,202
Margaret Park,150
Margaret Park,128
Margaret Park,105
Margaret Park,300
Margaret Park,248
Margaret Park,226
Margaret Park,203
Margaret Park,74
Margaret Park,19
Margaret Park,8
Steve Johnson,398
Steve Johnson,346
Steve Johnson,324
Steve Johnson,301
Steve Johnson,172
Steve Johnson,117
Steve Johnson,106
Jane Peacock,399
Jane Peacock,270
Jane Peacock,215
Jane Peacock,204
Jane Peacock,83
Jane Peacock,31
Jane Peacock,9
Jane Peacock,368
Jane Peacock,313
Jane Peacock,302
Jane Peacock,181
Jane Peacock,129
Jane Peacock,107
Jane Peacock,84
Jane Peacock,411
Jane Peacock,400
Jane Peacock,279
Jane Peacock,227
Jane Peacock,205
Jane Peacock,182
Jane Peacock,53
Jane Peacock,377
Jane Peacock,325
Jane Peacock,303
Jane Peacock,280
Jane Peacock,151
Jane Peacock,96
Jane Peacock,85
Jane Peacock,401
Jane Peacock,378
Jane Peacock,249
Jane Peacock,194
Jane Peacock,183
Jane Peacock,62
Jane Peacock,10
Steve Johnson,347
Steve Johnson,292
Steve Johnson,281
Steve Johnson,160
Steve Johnson,108
Steve Johnson,86
Steve Johnson,63
Steve Johnson,390
Steve Johnson,379
Steve Johnson,258
Steve Johnson,206
Steve Johnson,184
Steve Johnson,161
Steve Johnson,32
Margaret Park,356
Margaret Park,304
Margaret Park,282
Margaret Park,259
Margaret Park,130
Margaret Park,75
Margaret Park,64
Steve Johnson,402
Steve Johnson,380
Steve Johnson,357
Steve Johnson,228
Steve Johnson,173
Steve Johnson,162
Steve Johnson,41
Steve Johnson,326
Steve Johnson,271
Steve Johnson,260
Steve Johnson,139
Steve Johnson,87
Steve Johnson,65
Steve Johnson,42
Jane Peacock,369
Jane Peacock,358
Jane Peacock,237
Jane Peacock,185
Jane Peacock,163
Jane Peacock,140
Jane Peacock,11
Jane Peacock,335
Jane Peacock,283
Jane Peacock,261
Jane Peacock,238
Jane Peacock,109
Jane Peacock,54
Jane Peacock,43
Steve Johnson,381
Steve Johnson,359
Steve Johnson,336
Steve Johnson,207
Steve Johnson,152
Steve Johnson,141
Steve Johnson,20
Margaret Park,305
Margaret Park,250
Margaret Park,239
Margaret Park,118
Margaret Park,66
Margaret Park,44
Margaret Park,21
Margaret Park,403
Margaret Park,348
Margaret Park,337
Margaret Park,216
Margaret Park,164
Margaret Park,142
Margaret Park,119
Steve Johnson,314
Steve Johnson,262
Steve Johnson,240
Steve Johnson,217
Steve Johnson,88
Steve Johnson,33
Steve Johnson,22
Jane Peacock,412
Jane Peacock,360
Jane Peacock,338
Jane Peacock,315
Jane Peacock,186
Jane Peacock,131
Jane Peacock,120
Jane Peacock,284
Jane Peacock,229
Jane Peacock,218
Jane Peacock,97
Jane Peacock,45
Jane Peacock,23

In [0]:
%sql

with tb1 as (
  select employees.FirstName || " " || employees.LastName salesAgentName,
    invoice.InvoiceId
  from employees
    inner join customers on employees.EmployeeId = customers.SupportRepId
    inner join invoice on customers.CustomerId = invoice.CustomerId
) select salesAgentName, count(*) total_invoices from tb1
group by salesAgentName
order by salesAgentName

salesAgentName,total_invoices
Jane Peacock,146
Margaret Park,140
Steve Johnson,126

##### Pyspark

In [0]:
display(
    pspk_df_emp.alias("emp")
    .join(pspk_df_cust.alias("cust")).where("emp.EmployeeId == cust.SupportRepId")
    .join(pspk_df_invoice.alias("invoice")).where("invoice.customerId == cust.customerId")
    .selectExpr("emp.FirstName || ' ' || emp.LastName as salesAgentName", "invoice.invoiceId")
)

salesAgentName,invoiceId
Jane Peacock,382
Jane Peacock,327
Jane Peacock,316
Jane Peacock,195
Jane Peacock,143
Jane Peacock,121
Jane Peacock,98
Steve Johnson,293
Steve Johnson,241
Steve Johnson,219
Steve Johnson,196
Steve Johnson,67
Steve Johnson,12
Steve Johnson,1
Jane Peacock,391
Jane Peacock,339
Jane Peacock,317
Jane Peacock,294
Jane Peacock,165
Jane Peacock,110
Jane Peacock,99
Margaret Park,392
Margaret Park,263
Margaret Park,208
Margaret Park,197
Margaret Park,76
Margaret Park,24
Margaret Park,2
Margaret Park,361
Margaret Park,306
Margaret Park,295
Margaret Park,174
Margaret Park,122
Margaret Park,100
Margaret Park,77
Steve Johnson,404
Steve Johnson,393
Steve Johnson,272
Steve Johnson,220
Steve Johnson,198
Steve Johnson,175
Steve Johnson,46
Steve Johnson,370
Steve Johnson,318
Steve Johnson,296
Steve Johnson,273
Steve Johnson,144
Steve Johnson,89
Steve Johnson,78
Margaret Park,394
Margaret Park,371
Margaret Park,242
Margaret Park,187
Margaret Park,176
Margaret Park,55
Margaret Park,3
Margaret Park,340
Margaret Park,285
Margaret Park,274
Margaret Park,153
Margaret Park,101
Margaret Park,79
Margaret Park,56
Margaret Park,383
Margaret Park,372
Margaret Park,251
Margaret Park,199
Margaret Park,177
Margaret Park,154
Margaret Park,25
Steve Johnson,349
Steve Johnson,297
Steve Johnson,275
Steve Johnson,252
Steve Johnson,123
Steve Johnson,68
Steve Johnson,57
Jane Peacock,395
Jane Peacock,373
Jane Peacock,350
Jane Peacock,221
Jane Peacock,166
Jane Peacock,155
Jane Peacock,34
Margaret Park,319
Margaret Park,264
Margaret Park,253
Margaret Park,132
Margaret Park,80
Margaret Park,58
Margaret Park,35
Steve Johnson,362
Steve Johnson,351
Steve Johnson,230
Steve Johnson,178
Steve Johnson,156
Steve Johnson,133
Steve Johnson,4
Jane Peacock,328
Jane Peacock,276
Jane Peacock,254
Jane Peacock,231
Jane Peacock,102
Jane Peacock,47
Jane Peacock,36
Margaret Park,374
Margaret Park,352
Margaret Park,329
Margaret Park,200
Margaret Park,145
Margaret Park,134
Margaret Park,13
Steve Johnson,298
Steve Johnson,243
Steve Johnson,232
Steve Johnson,111
Steve Johnson,59
Steve Johnson,37
Steve Johnson,14
Jane Peacock,396
Jane Peacock,341
Jane Peacock,330
Jane Peacock,209
Jane Peacock,157
Jane Peacock,135
Jane Peacock,112
Jane Peacock,307
Jane Peacock,255
Jane Peacock,233
Jane Peacock,210
Jane Peacock,81
Jane Peacock,26
Jane Peacock,15
Margaret Park,405
Margaret Park,353
Margaret Park,331
Margaret Park,308
Margaret Park,179
Margaret Park,124
Margaret Park,113
Steve Johnson,406
Steve Johnson,277
Steve Johnson,222
Steve Johnson,211
Steve Johnson,90
Steve Johnson,38
Steve Johnson,16
Margaret Park,375
Margaret Park,320
Margaret Park,309
Margaret Park,188
Margaret Park,136
Margaret Park,114
Margaret Park,91
Margaret Park,407
Margaret Park,286
Margaret Park,234
Margaret Park,212
Margaret Park,189
Margaret Park,60
Margaret Park,5
Jane Peacock,384
Jane Peacock,332
Jane Peacock,310
Jane Peacock,287
Jane Peacock,158
Jane Peacock,103
Jane Peacock,92
Steve Johnson,408
Steve Johnson,385
Steve Johnson,256
Steve Johnson,201
Steve Johnson,190
Steve Johnson,69
Steve Johnson,17
Margaret Park,354
Margaret Park,299
Margaret Park,288
Margaret Park,167
Margaret Park,115
Margaret Park,93
Margaret Park,70
Margaret Park,397
Margaret Park,386
Margaret Park,265
Margaret Park,213
Margaret Park,191
Margaret Park,168
Margaret Park,39
Steve Johnson,363
Steve Johnson,311
Steve Johnson,289
Steve Johnson,266
Steve Johnson,137
Steve Johnson,82
Steve Johnson,71
Jane Peacock,409
Jane Peacock,387
Jane Peacock,364
Jane Peacock,235
Jane Peacock,180
Jane Peacock,169
Jane Peacock,48
Jane Peacock,333
Jane Peacock,278
Jane Peacock,267
Jane Peacock,146
Jane Peacock,94
Jane Peacock,72
Jane Peacock,49
Steve Johnson,376
Steve Johnson,365
Steve Johnson,244
Steve Johnson,192
Steve Johnson,170
Steve Johnson,147
Steve Johnson,18
Margaret Park,342
Margaret Park,290
Margaret Park,268
Margaret Park,245
Margaret Park,116
Margaret Park,61
Margaret Park,50
Jane Peacock,388
Jane Peacock,366
Jane Peacock,343
Jane Peacock,214
Jane Peacock,159
Jane Peacock,148
Jane Peacock,27
Margaret Park,312
Margaret Park,257
Margaret Park,246
Margaret Park,125
Margaret Park,73
Margaret Park,51
Margaret Park,28
Margaret Park,410
Margaret Park,355
Margaret Park,344
Margaret Park,223
Margaret Park,171
Margaret Park,149
Margaret Park,126
Steve Johnson,321
Steve Johnson,269
Steve Johnson,247
Steve Johnson,224
Steve Johnson,95
Steve Johnson,40
Steve Johnson,29
Jane Peacock,367
Jane Peacock,345
Jane Peacock,322
Jane Peacock,193
Jane Peacock,138
Jane Peacock,127
Jane Peacock,6
Jane Peacock,291
Jane Peacock,236
Jane Peacock,225
Jane Peacock,104
Jane Peacock,52
Jane Peacock,30
Jane Peacock,7
Margaret Park,389
Margaret Park,334
Margaret Park,323
Margaret Park,202
Margaret Park,150
Margaret Park,128
Margaret Park,105
Margaret Park,300
Margaret Park,248
Margaret Park,226
Margaret Park,203
Margaret Park,74
Margaret Park,19
Margaret Park,8
Steve Johnson,398
Steve Johnson,346
Steve Johnson,324
Steve Johnson,301
Steve Johnson,172
Steve Johnson,117
Steve Johnson,106
Jane Peacock,399
Jane Peacock,270
Jane Peacock,215
Jane Peacock,204
Jane Peacock,83
Jane Peacock,31
Jane Peacock,9
Jane Peacock,368
Jane Peacock,313
Jane Peacock,302
Jane Peacock,181
Jane Peacock,129
Jane Peacock,107
Jane Peacock,84
Jane Peacock,411
Jane Peacock,400
Jane Peacock,279
Jane Peacock,227
Jane Peacock,205
Jane Peacock,182
Jane Peacock,53
Jane Peacock,377
Jane Peacock,325
Jane Peacock,303
Jane Peacock,280
Jane Peacock,151
Jane Peacock,96
Jane Peacock,85
Jane Peacock,401
Jane Peacock,378
Jane Peacock,249
Jane Peacock,194
Jane Peacock,183
Jane Peacock,62
Jane Peacock,10
Steve Johnson,347
Steve Johnson,292
Steve Johnson,281
Steve Johnson,160
Steve Johnson,108
Steve Johnson,86
Steve Johnson,63
Steve Johnson,390
Steve Johnson,379
Steve Johnson,258
Steve Johnson,206
Steve Johnson,184
Steve Johnson,161
Steve Johnson,32
Margaret Park,356
Margaret Park,304
Margaret Park,282
Margaret Park,259
Margaret Park,130
Margaret Park,75
Margaret Park,64
Steve Johnson,402
Steve Johnson,380
Steve Johnson,357
Steve Johnson,228
Steve Johnson,173
Steve Johnson,162
Steve Johnson,41
Steve Johnson,326
Steve Johnson,271
Steve Johnson,260
Steve Johnson,139
Steve Johnson,87
Steve Johnson,65
Steve Johnson,42
Jane Peacock,369
Jane Peacock,358
Jane Peacock,237
Jane Peacock,185
Jane Peacock,163
Jane Peacock,140
Jane Peacock,11
Jane Peacock,335
Jane Peacock,283
Jane Peacock,261
Jane Peacock,238
Jane Peacock,109
Jane Peacock,54
Jane Peacock,43
Steve Johnson,381
Steve Johnson,359
Steve Johnson,336
Steve Johnson,207
Steve Johnson,152
Steve Johnson,141
Steve Johnson,20
Margaret Park,305
Margaret Park,250
Margaret Park,239
Margaret Park,118
Margaret Park,66
Margaret Park,44
Margaret Park,21
Margaret Park,403
Margaret Park,348
Margaret Park,337
Margaret Park,216
Margaret Park,164
Margaret Park,142
Margaret Park,119
Steve Johnson,314
Steve Johnson,262
Steve Johnson,240
Steve Johnson,217
Steve Johnson,88
Steve Johnson,33
Steve Johnson,22
Jane Peacock,412
Jane Peacock,360
Jane Peacock,338
Jane Peacock,315
Jane Peacock,186
Jane Peacock,131
Jane Peacock,120
Jane Peacock,284
Jane Peacock,229
Jane Peacock,218
Jane Peacock,97
Jane Peacock,45
Jane Peacock,23

In [0]:
display(
    pspk_df_emp.alias("emp")
    .join(pspk_df_cust.alias("cust")).where("emp.EmployeeId == cust.SupportRepId")
    .join(pspk_df_invoice.alias("invoice")).where("invoice.customerId == cust.customerId")
    .selectExpr("emp.FirstName || ' ' || emp.LastName as salesAgentName", "invoice.invoiceId")
    .groupBy("salesAgentName")
    .count()
)

salesAgentName,count
Jane Peacock,146
Steve Johnson,126
Margaret Park,140

##### Python

In [0]:
(
    pd_df_emp
    .assign(salesAgentName = pd_df_emp['FirstName'] +" " +pd_df_emp['LastName'])
    .merge(pd_df_cust, left_on = 'EmployeeId', right_on = 'SupportRepId', how = 'inner')
    .merge(pd_df_invoice, left_on = 'CustomerId', right_on = 'CustomerId', how = 'inner')
    [['salesAgentName', 'InvoiceId']]
    .reset_index(drop=True)
)

,salesAgentName,InvoiceId
0,Jane Peacock,98
1,Jane Peacock,121
2,Jane Peacock,143
3,Jane Peacock,195
4,Jane Peacock,316
...,...,...
407,Steve Johnson,88
408,Steve Johnson,217
409,Steve Johnson,240
410,Steve Johnson,262
411,Steve Johnson,314

In [0]:
(
    pd_df_emp
    .assign(salesAgentName = pd_df_emp['FirstName'] +" " +pd_df_emp['LastName'])
    .merge(pd_df_cust, left_on = 'EmployeeId', right_on = 'SupportRepId', how = 'inner')
    .merge(pd_df_invoice, left_on = 'CustomerId', right_on = 'CustomerId', how = 'inner')
    [['salesAgentName', 'InvoiceId']]
    .groupby("salesAgentName")
    .count()
    .sort_values(by=['InvoiceId'])
    .reset_index()
)

,salesAgentName,InvoiceId
0,Steve Johnson,126
1,Margaret Park,140
2,Jane Peacock,146

##### RDDs

In [0]:
pspk_rdd_emp = pspk_df_emp.rdd
pspk_rdd_cust = pspk_df_cust.rdd
pspk_rdd_inv = pspk_df_invoice.rdd

In [0]:
# as we need to join 3 tables we need to create 3 RDDs having similar key-value pairs (keys being the common joining condition) 
pspk_rdd_emp_mod = (
    pspk_rdd_emp
    # .filter(lambda x: x['EmployeeId']==3)
    .map(lambda x: (x['EmployeeId'], x['FirstName'] +" " +x['LastName']) )
)
pspk_rdd_cust_mod = (
    pspk_rdd_cust
    # .filter(lambda x: x['SupportRepId']==3)
    .map(lambda x: (x['SupportRepId'], x['CustomerId']) )
)
pspk_rdd_inv_mod = (
    pspk_rdd_inv
    .map(lambda x: (x['CustomerId'], x['InvoiceId']) )
)

In [0]:
(
    pspk_rdd_emp_mod
    .join(pspk_rdd_cust_mod)
    .map(lambda x: x[1])
    .map(lambda x: (x[1], x[0] ) )
    .join(pspk_rdd_inv_mod)
    .map(lambda x: x[1])
    .countByKey()
    # .take(4)
)

Out[89]: defaultdict(int,
            {'Margaret Park': 140, 'Jane Peacock': 146, 'Steve Johnson': 126})

### 4. How many Invoices were there in 2009 and 2011? What are the respective total sales for each of those years?

#### SQL

In [0]:
%sql

select year(invoicedate) yr, count(*) total_sales
from invoice
where year(invoicedate) in ('2009', '2011')
group by yr

yr,total_sales
2009,83
2011,83

#### Pyspark

In [0]:
display(
    pspk_df_invoice
    .withColumn("invYear", year(col("InvoiceDate")))
    .filter("invYear in ('2009', '2011') ")
    .groupBy("invYear")
    .count()
)

invYear,count
2009,83
2011,83

In [0]:
display(
    pspk_df_invoice
    .withColumn("invYear", year(col("InvoiceDate")))
    .filter("invYear in ('2009', '2011') ")
    .groupBy("invYear")
    .count()
    # .pivot("invYear").sum("count")
)

invYear,count
2009,83
2011,83

#### Python

In [0]:
pd_df_invoice = (
    pd_df_invoice
    .assign(InvYear = pd_df_invoice['InvoiceDate'].dt.year.astype(str))
)

In [0]:
(
    pd_df_invoice[ (pd_df_invoice['InvYear'] == '2009') | (pd_df_invoice['InvYear'] == '2011') ]
    .groupby("InvYear")['InvYear']
    .count()
)

Out[94]: InvYear
2009    83
2011    83
Name: InvYear, dtype: int64

#### RDDs

In [0]:
def parseTimeToDate(inDt):
    dt = datetime.datetime.strftime(inDt, "%Y")
    return dt

parseTimeToDate(datetime.datetime(2009, 1, 1, 0, 0))

Out[95]: '2009'

In [0]:
pspk_df_invoice_rdd = pspk_df_invoice.rdd

In [0]:
(
    pspk_df_invoice_rdd
    .map(lambda x: (parseTimeToDate(x['InvoiceDate']), 1))
    .reduceByKey(lambda x,y: x+y)
    .filter(lambda x: x[0] in ['2009', '2011'] )
    .collect()
)

Out[97]: [('2009', 83), ('2011', 83)]